.WeatherData {
    margin-top: 80px;
    box-sizing: border-box;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.cityContainer {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.city, .favorite {
    color: #fff;
}

.city {
    font-size: 20px;
}

.favorite {
    margin-left: -2px;
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;

}

.favorite .favoriteIcon {
    color: #FAD05B;
    display: flex;
    align-items: center;
}

.favoriteIcon .favoriteButton {
    color: #FAD05B;
    /* padding-top: 5px; */
}

.favoriteButton {
    background: transparent;
    border: none;
    width: 30px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    /* margin-top: 3px; */
}

.favoriteButton:hover, .favoriteButton:focus {
    outline: none;
}

.favorite span, .favorite .favoriteIcon span  {
    /* margin-left: 5px; */
    font-size: 13px;
}

.temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.icon img{
    width: 100px;
    height: 100px;
}

.temp {
    /* font-size: 64px; */
    color: #fff;
    margin-top: -10px;
    display: flex;
    align-items: flex-end;
    /* border: 1px solid red; */
}

.temp div {
    /* position: absolute; */
    margin-bottom: 0;
    font-size: 64px;
    margin-right: 10px;
    /* border: 1px solid black; */
}

.tempBtnCelcius {
    border-radius: 2px 0 0 2px;
}

.tempBtnFah {
    border-radius: 0 2px 2px 0;
}

.tempBtnCelcius, .tempBtnFah {
    transition: all 0.4s linear;
    cursor: pointer;
    background: transparent;
    border: 1px solid #fff;
    width: 28px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 17px;
}

.tempBtnCelcius:hover, .tempBtnFah:hover {
    background-color: #fff;
    opacity: 0.7;
    color: rgb(153, 70, 70);
    outline: none;
}

.celcius {
    background-color: #fff;
    opacity: 0.7;
    color: rgb(153, 70, 70);
    border: none;
}

.celcius:focus {
    outline: none;
}

.weather {
    font-size: 22px;
    margin-top: 30px;
    color: #fff;
}

.line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    opacity: 30%;
    margin-top: 90px;
}

.tempDetails {
    padding: 0 100px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: flex-start;
}
.minMax, .precipitation, .visibility, .humidity, .wind {
    display: flex;
    margin-right: 70px;
    /* border: 1px solid green; */
    width: 15%;
    /* margin-top: 0; */
}

.visibility {
    margin-right: 0;
}

.minMaxIcon, .precipitationIcon, .visibilityIcon, .humidityIcon, .windIcon {
   font-size: 30px;
   color: #fff;
   display: flex;
   align-items: flex-start;
}

.minMaxText, .precipitationText, .visibilityText, .humidityText, .windText {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #fff;
    margin-top: 2px;
    margin-left: 12px;
}

.minMaxText span, .precipitation span, .visibility span, .humidity span, .wind span {
    font-size: 22px;
    margin-top: 5px;
}

@media(max-width: 1024px) {
    .WeatherData {
        margin-top: 80px;
    }

    .cityContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .temperature {
        margin-top: 40px;
    }

    .line {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .tempDetails {
        padding: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .minMax, .precipitation, .visibility, .humidity, .wind {
        margin: 0;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 1px solid rgb(129, 118, 118);
    }

    .visibility {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
    .minMaxText span, .precipitation span, .visibility span, .humidity span, .wind span {
        font-size: 20px;
    }
}