
li {
    list-style: none;
}

.messageList{
    display: flex;
    flex-direction: column;
  }
  
  
.messageList> li{
    margin-left: 10px;
    padding:8px;
    width: 200px;
    height: 40px;
    background-color:green;
    color:white;
}
  
.messageList> li+li {
    margin-top: 10px;
}
.messageList>li.selectedTitle {
    background-color:steelblue;
  }