@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


.app {
    background: url('./background.png') no-repeat;
    /* width: 100vw; */
    min-height: 100vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}

.app-container {
    width: 80%;
    /* border: 1px solid red; */
}

.nav-toggle {
    display: none;
}

.line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    opacity: 30%;
    margin-top: 6px;
}

@media(max-width: 1024px) {
    .app {
        width: 100vw;
        /* border: 2px solid blue; */
        display: flex;
        justify-content: center;
    }

    .app-container {
        /* margin: 0 auto; */
        width: 90%;
        /* border: 1px solid red; */
    }

    .searchNav {
        display: flex;
        justify-content: space-between;
    }

    .nav-toggle {
        display: block;
        margin-top: 13px;
        margin-left: 5px;
        font-size: 1.5rem;
        color: hsl(205, 78%, 60%);;
        background: transparent;
        border-color: transparent;
        transition: all 0.5s linear;
        cursor: pointer;
    }
    .nav-toggle:hover {
        color: hsl(205, 86%, 17%);;
    }

    .nav-toggle:hover, .nav-toggle:focus {
        outline: none;
    }
}
